<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <div class="row">
            <!-- Blog Entries -->
            <div class="col-lg-4">
                <!-- Featured Blog Post-->
                <div class="card mb-4">
                    <a href="https://www.expertafrica.com/botswana/okavango-delta-safari-reserves" target="_blank"> <img
                            class="card-img-top" src="https://www.botswana.co.za/images/me-in-the-delta-590x390.jpg">
                    </a>
                    <div class="card-body">
                        <h2 class="card-title h4">The Okavango Delta</h2>
                        <p class="card-text">Explore the eco-farm & wilderness retreat in the Okavango Delta.</p>
                        <a class="btn btn-primary"
                            href="https://www.expertafrica.com/botswana/okavango-delta-safari-reserves"
                            target="_blank">Read more →</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Featured Blog Post-->
                <div class="card mb-4">
                    <a href="https://mashatu.com/mashatu-euphorbia-villas/" target="_blank"> <img class="card-img-top"
                            src="https://africanhorsesafaris.com/wp-content/uploads/2019/09/makgadikgadi3-600x403.jpg">
                    </a>
                    <div class="card-body">
                        <h2 class="card-title h4">Mashatu Game Reserve</h2>
                        <p class="card-text">Explore horse-back safaris, cycling safaris and walks in the wild.</p>
                        <a class="btn btn-primary" href="https://mashatu.com/mashatu-euphorbia-villas/"
                            target="_blank">Read more →</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Featured Blog Post-->
                <div class="card mb-4">
                    <a href="https://www.andbeyond.com/destinations/africa/botswana/makgadikgadi-pans/" target="_blank">
                        <img class="card-img-top"
                            src="https://wildlandsafaris.com/wp-content/uploads/2017/07/camp-on-pans3.jpg"> </a>
                    <div class="card-body">
                        <h2 class="card-title h4">Makgadikgadi Pans</h2>
                        <p class="card-text">The largest salt pans in the world, spanning over 16,000 km² (9,942 m²)</p>
                        <a class="btn btn-primary"
                            href="https://www.andbeyond.com/destinations/africa/botswana/makgadikgadi-pans/"
                            target="_blank">Read more →</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="jumbotron">
            <h1>Welcome to Botswana!</h1>
            <p>Botswana is not for the average traveller. A land of breathtaking contrasts, from the vast salt pans of
                the Makgadikgadi, to the sandy plains of the Kalahari, to the lush oasis of the Okavango Delta, Botswana
                is for the traveller who chooses to disconnect to reconnect, with themselves and the natural world,
                captivated by an African safari like no other. </p>
            <p>
                <a class="btn btn-secondary btn-lg btn-block" href="/destinations">View Destination Collection</a>
            </p>
        </div>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>

</html>